doctype=html  
html(language=en)
  head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  //-
    style.
      video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        z-index: 1;}

      .container {
        position: absolute;
        z-index: 2;}


      form { margin: 50px 50px;}

      input { padding: 10px 0px; margin-bottom: 10px; background-color: white; outline: none; barder: 0px; width: 200px;}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  title CS411 App
  body
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CS411</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a href="/login">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button">Log In</button> 
        </a>
        <a href="/profile" style="margin-left: 1%">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button">Profile</button> 
        </a>
      </div>
    </nav>

    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="images/180914_1_03.mp4" type="video/mp4">
    </video>

    <div class="container">
      h1 Too tired to cook? Find food to order tonight
      p Enter search parameters below

      if re_street_address
        <form method="POST" action="/">
          <input type="text" placeholder="debug 1 or 0" name="debug" value=#{debug}>
          <input type="text" placeholder="address or zip code" name="street-address" value="#{re_street_address}">
          <input type="text" placeholder="meal ingredients" name="meal" value="#{re_meal}">
          <input type="text" placeholder="radius (miles)" name="radius" value=#{re_radius}>
          <input type="text" placeholder="price limit" name="price" value=#{re_price}>
          <select name='order'>
            if re_order === 0
              option(value=0, selected) Max Calories
            else
              option(value=0) Max Calories
            if re_order === 1
              option(value=1, selected) Min Calories
            else
              option(value=1) Min Calories
            if re_order == 2
              option(value=2, selected) Max Calories
            else
              option(value=2) Max Fat
            if re_order == 3
              option(value=3, selected) Min Fat
            else
              option(value=3) Min Fat
            if re_order == 4
              option(value=4, selected) Max Carbs
            else
              option(value=4) Max Carbs
            if re_order == 5
              option(value=5, selected) Min Carbs
            else
              option(value=5) Min Carbs
            if re_order == 6
              option(value=6, selected) Max Protein
            else
              option(value=6) Min Protein
            if re_order == 7
              option(value=7, selected) Min Calories
            else
              option(value=7) Min Calories
          </select>
          <input type="submit" value="Search">
        </form>
      else
        <form method="POST" action="/">
          <input type="text" placeholder="debug 1 or 0" name="debug">
          <input type="text" placeholder="address or zip code" name="street-address">
          <input type="text" placeholder="meal ingredients" name="meal">
          <input type="text" placeholder="radius (miles)" name="radius">
          <input type="text" placeholder="price limit" name="price">
          select(name='order')
            option(value=0) Max Calories
            option(value=1) Min Calories
            option(value=2) Max Fat
            option(value=3) Min Fat
            option(value=4) Max Carbs
            option(value=5) Min Carbs
            option(value=6) Max Protein
            option(value=7) Min Protein
          <input type="submit" class="btn btn-success" value="Search">
        </form>

      p Nutrition data powered by #[a(href="https://www.edamam.com/") Edamam]
      img(src="images/edamam_logo.jpg")
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
