doctype=html
html(language=en)
	head
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		link(rel="stylesheet", href="/css/style.css", type="text/css")
		title CS411 App
	body
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">CS411</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		</ul>
		<a href="/login">
		<button class="btn btn-outline-success my-2 my-sm-0" type="button">Log In</button>
		</a>
		<a href="/profile" style="margin-left: 1%">
		<button class="btn btn-outline-success my-2 my-sm-0" type="button">Profile</button>
		</a>
		</div>
		</nav>

		<div class="container">
			<div class="user">
				<img src="#{user._json.picture}" height='100' width='100'>
				p #{user.displayName}
				<a href="/logout"><button class="btn btn-danger" type="button">Log Out</button></a>
			</div>
		h1 Recent Searches
		div(class='table')
			div(class='th')
				div(class='td') Meal
				div(class='td') Restaurant
				div(class='td') Search Address
				div(class='td') Search String
				div(class='td') Radius
				div(class='td') Price Limit
				div(class='td') Search Order
				div(class='td') Cal
				div(class='td') Fat
				div(class='td') Carb
				div(class='td') Pro
				div(class='td') Restaurant Link
				div(class='td') Redo Search
			- searches.length = 10
			each search in searches
				form(class='tr', action='/research', method='post')
					input(type='hidden', name='re_street-address', value=search.address)
					input(type='hidden', name='re_meal', value=search.searchString)
					input(type='hidden', name='re_radius', value=search.radius)
					input(type='hidden', name='re_price', value=search.priceLimit)
					input(type='hidden', name='re_order', value=search.order)
					span(class='td') #{search.resultFood.name}
					span(class='td') #{search.resultRest.name}
					span(class='td') #{search.address}
					span(class='td') #{search.searchString}
					span(class='td') #{search.radius}
					span(class='td') #{search.priceLimit}
					case search.order
						when 0
							span(class='td') Max Calories
						when 1
							span(class='td') Min Calories
						when 2
							span(class='td') Max Fat
						when 3
							span(class='td') Min Fat
						when 4	
							span(class='td') Max Carbs
						when 5
							span(class='td') Min Carbs
						when 6
							span(class='td') Max Protein
						when 7
							span(class='td') Min Protein

					span(class='td') Cal: #{Math.round(search.resultFood.ENERC_KCAL)}
					span(class='td') Fat: #{Math.round(search.resultFood.FAT)}
					span(class='td') Carbs: #{Math.round(search.resultFood.CHOCDF)}
					span(class='td') Prot: #{Math.round(search.resultFood.PROCNT)}
					span(class='td') <a href=#{search.resultRest.url}>#{search.resultRest.url}</a>
					span(class='td')
						input(type='submit', class="btn btn-success", value='Redo Search')

		h1 Favorite Foods
		div(class='table')
			div(class='th')
				div(class='td') Meal
				div(class='td') Restaurant
				div(class='td') Location
				div(class='td') Link
				div(class='td') Calories
				div(class='td') Fat
				div(class='td') Carbs
				div(class='td') Protein
				div(class='td') Delete Food
			each search in saved_searches
				form(class='tr', action='/deletefood', method='post')
					input(type='hidden', name='food', value=search.resultFood)
					input(type='hidden', name='restaurant', value=search.resultRest)
					span(class='td') #{search.resultFood} 
					span(class='td') #{search.resultRest}
					span(class='td') #{search.location}
					span(class='td') <a href=#{search.link}>#{search.link}</a>
					span(class='td') #{Math.round(search.calories)}
					span(class='td') #{Math.round(search.fat)}
					span(class='td') #{Math.round(search.carbs)}
					span(class='td') #{Math.round(search.protein)}
					span(class='td') 
						input(type='submit', class="btn btn-success", value='Delete')
		</div>		

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>